body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1920&auto=format&fit=crop://images.unsplash.com/photo-1497032205916-ac775f0649ae?q=80&w=1920&auto=format&fit=crophttps://images.unsplash.com/photo-1497032205916-ac775f0649ae?q=80&w=1920&auto=format&fit=crop");
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#dropdown,
#searchBar {
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0);
  font-size: 40px;
}

footer,
p {
  text-align: center;
  margin-bottom: 30px;
}

#container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-top: 0;
  text-align: center;
}

.episode-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode-card img {
  width: 80%;
  border-radius: 4px;
  align-items: center;
}

.episode-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-top: 0;
  background-color: #fff;
  text-align: center;
}

.episode-header {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  margin: 0 0 20px;
  background-color: #f7f7f7;
  text-align: center;
}

.episode-header h2 {
  font-size: 16px;
  text-align: center;
}

#numberOfEpisodes {
  font-size: 14px;
  color: white;
  font-weight: bolder;
}
.show-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-top: 0;
  background-color: #fff;
  text-align: center;
  opacity: 0.9;
}
.showDetails {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-top: 0;
  background-color: #fff;
  text-align: left;
  opacity: 0.9;
}
.showDetails:hover {
  background-color: #ddd;
  border: 3px solid #ddd;
  border-radius: 10px;
}
